---
const {name, lastname, email, phone, photo, username} = Astro.props.contact
---

<article class="card">
  <div class="card-header bg-dark p-0">
    <img src={photo} alt="">
  </div>
  <div class="card-body">
    <h3 class="text-center">{name} {lastname}</h3>
    <ul class="list-group">
      <!-- <li class="list-group-item d-flex justify-content-between align-items-center">
        <i class="fa-brands fa-whatsapp"></i> {phone}
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <i class="fa-solid fa-envelope"></i> {email}
      </li> -->
      <li class="list-group-item text-center">
        <a href=`/details/${username}` class="btn btn-success">Ver detalle</a>
      </li>
    </ul>
  </div>
</article>

<style>
  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 0.25em 0.25em 0 0;
  }
</style>